<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
        <rule name="static dist files" stopProcessing="true">
            <match url="^(.+)$" />
            <conditions>
            <add input="{APPL_PHYSICAL_PATH}dist\{R:1}" matchType="IsFile" />
            </conditions>
            <action type="Rewrite" url="/dist/{R:1}" />
        </rule>
            <rule name="index.html as document root" stopProcessing="true">
            <match url="^$" />
            <action type="Rewrite" url="/dist/index.html" />
            </rule>
        <rule name="redirect all requests" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
            </conditions>
            <action type="Rewrite" url="/dist/index.html" appendQueryString="true" />
        </rule>
        </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
         </staticContent>
    </system.webServer>
</configuration>